* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blue;
    color: blanchedalmond;
}

.titulo {
    font-family: "Pacifico", cursive;
    font-size: 2rem;
    font-weight: 100;
    font-style: normal;
    text-align: center;
}

/* p{
background-color: #373737;
text-align: center;
} */

/* Centrar titulo */


.btn-box {
    text-align: center;
}

button {
    text-align: center;
    padding: 20px 50px;
    border-radius: 25px 0 25px 0;
    border: none;
}

#portada {
    text-align: center;
    margin-top: 40px;
}

#portada img {
    border: 25px solid orange;
    padding: 80px;
    background-color: aliceblue;
    width: 200px;
}