*{
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

h1 {
    border-radius: 30px;
}

.bg-aqua {
    background-color: aqua;
}

.color-blue {
    color: rgba(6, 84, 210, 0.425);
}

#destacados {
    border: 2px solid black;
    padding: 20px;
}

.form-registro .datos-persona .input-nombre{
  padding: 10px;
  border-radius: 8px;
}

form-registro .datos-persona .input-nombre:focus{
  border: 2px solid tomato;
  background-color: aquamarine;
}

button{
    display: inline-block;
}

button:hover{
    background-color:tomato;
    color: white;
    border: none;
    padding: 10px;
    transition-duration: 0.3s;
}

p{
    display: inline-block;
}